# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Mac
.DS_Store

# Ignore gradle files
.gradle/
build/
gradlew.bat

# Eclipse
.classpath
.project
.externalToolBuilders/

*.swp
local.properties

# Android generated
bin/
gen/

# JNI
/.externalNativeBuild/